// Colors:

$color-cyan: hsl(158, 36%, 37%);
$color-background: hsl(30, 38%, 92%);
$color-blue-dark: hsl(212, 21%, 14%);
$color-blue-greyish: hsl(228, 12%, 48%);
$color-white: hsl(0, 0%, 100%);

// Fonts:
$font-primary: "Montserrat";
$font-secondary: "Fraunces";

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-primary, sans-serif;
  font-size: 1.4rem;
  background-color: $color-background;
}

.content {
  max-width: 60rem;
  height: 45rem;
  margin: 17.5rem auto;
  border-radius: 1rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

  @media (max-width: 600px) {
    max-width: 34.3rem;
    height: 61.1rem;
  }
}
