.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url(../images/image-product-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 600px) {
    height: 24rem;
    background-position: 50%;
  }
}
