.text {
  padding: 3.2rem;
  text-align: left;
  background-color: $color-white;

  @media (max-width: 600px) {
    padding: 2.4rem;
  }

  &__pre-headline {
    font-size: 1.2rem;
    letter-spacing: 0.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color: $color-blue-greyish;

    @media (max-width: 600px) {
      margin-bottom: 1.2rem;
    }
  }

  &__headline {
    font-family: $font-secondary;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.2rem;
    color: $color-blue-dark;
    margin-bottom: 2.4rem;

    @media (max-width: 600px) {
      margin-bottom: 1.6rem;
    }
  }

  &__description {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.3rem;
    color: $color-blue-greyish;
    margin-bottom: 2.6rem;

    @media (max-width: 600px) {
      margin-bottom: 2.4rem;
    }
  }

  &__prices {
    display: flex;
    gap: 1.9rem;
    align-items: center;
    margin-bottom: 2.6rem;

    @media (max-width: 600px) {
      margin-bottom: 2rem;
    }

    &--price {
      font-family: $font-secondary;
      font-weight: 700;
      font-size: 3.2rem;
      color: $color-cyan;
    }

    &--discount {
      font-weight: 500;
      font-size: 1.3rem;
      color: $color-blue-greyish;
      text-decoration-line: line-through;
    }
  }

  &__btn {
    border-radius: 0.8rem;
    background-color: $color-cyan;
    border: none;
    width: 23.6rem;
    height: 4.8rem;
    color: $color-white;
    font-weight: 700;
    font-size: 1.4rem;
    font-family: $font-primary;
    cursor: url("../images/Pointer.svg"), auto;
    transition: all 0.2s;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.161rem;

    @media (max-width: 600px) {
      width: 29.5rem;
      height: 4.8rem;
    }

    &:hover,
    :active {
      background-color: #1a4032;
    }
  }
}
